<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center mt-5 pt-5">
      <%= image_tag('logo.jpeg', :class=>"img-fluid w-50")%>
    </div>

    <div class="col-12 text-center reel py-5 mt-3 pt-5">
      <%= image_tag('c.svg', :class=>"img-fluid w-25")%>
      <%= link_to "COUNCELLORS", counsellors_path, :class=>"d-block text-center pt-2 bold"%>
    </div>

    <div class="col-12 text-center reel py-5 mt-3">
      <%= image_tag('s.svg', :class=>"img-fluid w-25")%>
      <%= link_to "SERVICES", services_path, :class=>"d-block text-center pt-2 bold"%>
    </div>

    <div class="col-12 text-center reel py-5 mt-3">
      <%= image_tag('a.svg', :class=>"img-fluid w-25")%>
      <p class="text-center pt-2 bold">APPOINTMENT</p>
    </div>

    <div class="col-12 text-center reel py-5 mt-3">
      <%= image_tag('ab.svg', :class=>"img-fluid w-25")%>
      <%= link_to "ABOUT", about_path, :class=>"d-block text-center pt-2 bold"%>
    </div>
  </div>
</div>
